@model Dto.UserDto.UserDto
    @{
        ViewBag.Title = "Register";
    }

<div class="inner-bg-white">
    <h1>Welcome to Register Page</h1>
    <div class="login-wrap">
        @*<partial name="_Notification" />*@
        <form id="frmLogin" asp-controller="Login" asp-action="Register" method="post">
            <div class="login-form frontend-login">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-red"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">LastName:</label>
                    <input autocomplete="off" type="text" asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-red"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input autocomplete="off" type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-red"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password:</label>
                    <input autocomplete="off" type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-red"></span>
                </div>
            </div>
            <div class="login-btn">
                <div class="btns-right">
                    <button type="submit" class="btn btn btn-primary">Register</button>
                    @*<a class="btn btn btn-primary" asp-controller="login" asp-action="index">Logout</a>*@
                </div>
                <!--<p>
                    <i class="fa fa-angle-right"></i>-->
                    @*<a asp-controller="account" asp-action="forgotcredentials" asp-route-id="@((int)CredentialsRequest.UserPassword)" data-toggle="modal" data-target="#modal-forgot-credentials">Forgotten your password?</a>*@
                <!--</p>-->
                <!--<p>
                    <i class="fa fa-angle-right"></i>-->
                    @*<a asp-controller="account" asp-action="forgotcredentials" asp-route-id="@((int)CredentialsRequest.UserId)" data-toggle="modal" data-target="#modal-forgot-credentials">Forgotten your User ID?</a>*@
                <!--</p>-->
            </div>
        </form>

    </div>
    @*<div class="smart-solutions"> Software for Churches and Charities.....</div>*@
</div>
    

    