<div class="wrapper">
    <div class="">
        <div class="inner-bg">
            <section class="content-header">
                <h1>
                    Job Application
                </h1>
            </section>
            <section class="content">
                <div class="cmxform donor-form referrals-form">
                    <div class="tab-content donations-tab">
                        <div id="jobapplication" class="tab-pane active">
                            <div class="content form-horizontal">
                                <div class="table-top">
                                    <a type="button" data-toggle="modal" data-target="#modal-add-Profession"  class="btn btn btn-primary" href="@Url.Action("AddEditJobApplication","JobApplication")">
                                        AddJobApplication
                                    </a>
                                </div>
                                <table id="grid-jobapplication" class="table table-bordered table-striped table-condensed food-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>S.No</th>
                                            <th>Job Code</th>
                                            <th>Title</th>
                                            <th>Minimum Qualification</th>
                                            <th>Sort Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@*<partial name="_modal" model='new Modal { ID="modal-add-jobapplication" , AreaLabeledId ="modal-add-JobApplication" , Size = ModalSize.Medium }' />
<partial name="_modal" model='new Modal { ID="modal-delete-jobApplication" , AreaLabeledId = "modal-delete-JobApplication" , Size=ModalSize.Medium }' />*@

@section scripts{

    <script src="~/Script/Scripts/jobapplication/jobapplication.js"></script>



}






